/* .alegreya-sans-regular {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alegreya-sans-bold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
  
:root {
    
    --bgcream: #F8F7F0;
    --textblack: #101010;
    --textwhite: #FAFAFA;
    --outlinegray: #C8C8C6;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



